#AddButton {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#SubmitButton {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.questionnaire-container {
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: 100%;
    
}

.qPortal{
    display: flex;
    flex-direction: column;
}
.wrapper {
    position: relative;
    background-color: #EDE3D1;
}

.bottom-navbar {
    position: absolute;
    background-color: green;
    width: 86%;
    height: 80px;
    bottom: 0;
}

.top-navbar {
    position: absolute;
    top: 0px;
    width: 86%;
    height: 100px;
    background-color: orange;

}