#AddButton {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#SubmitButton {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.questionnaire-container {
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: 100%;
    
}

.wrapper {
    position: relative;
}

.bottom-navbar {
    position: absolute;
    background-color: blue;
    width: 86%;
    height: 80px;
    bottom: 0;
}

.top-navbar {
    position: absolute;
    top: 0px;
    width: 86%;
    height: 70px;
    background-color: rgb(169, 169, 210);

}