.NavBar {
    background-color: #EDE3D1;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
  
  .TechmetricaLogo {
    width: 75px;
    height: 75px;
    transform: scale(1.5);
    margin-left: 20px;
  }

.Avator-Icon:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

  