.tabbed-window-container{
    display: flex;
    background-color: rgb(222, 110, 110);
    margin: auto;
    align-items: center;
    width: 100%; /* set the width to 100% to fill the container */
    min-width: 800px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    background-color: #EDE3D1;
    min-height: 80px; /* set a minimum height in pixels */
    max-height: 500px;
    flex: 1; /* make the container grow to fill the available space */
    max-width: 200px; /* set the maximum width to 800 pixels */
  }
  

.tabpanel-container{
    display: flex;
    align-items: center;
    background-color: #76abc1;
    align-self: center;
    height: 500px; /* set a fixed height in pixels */
    flex: 3; /* make the container grow to fill the available space */
    min-width: 800px;
}